*,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 30px;
}

.nav-btn{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

button{
    border: unset;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 40px;
}
.init{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add{
    background-color: rgb(86, 86, 243);
}
.logout{
    background-color: orange;
}
 
.initial-display i{
    font-size: 80px;
    color: gray;
}

.initial-display{
    display: grid;
    grid-template-areas:
        "icon1 icon2"
        "icon3 icon3"
        "icon4 icon5";
    transform: rotate(20deg);
    width: 30%;
    place-items: center;
    opacity: 0.2;
    row-gap: 20px;
}

.icon1 {
    grid-area: icon1;
}
.icon2 {
    grid-area: icon2;
}
.icon3 {
    grid-area: icon3;
}
.icon4 {
    grid-area: icon4;
}
.icon5 {
    grid-area: icon5;
} 

.hide{
    display: none;
}
button{
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
form >div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.input-file{
    display: flex;
    column-gap: 10px;
}
.input-file i{
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.input-file i>p{
    font-size: 10px;
}
.vid{
    color: green;
}
.img{
    color: orange;
}
.pdf{
    color: red;
}
textarea{
    padding:5px;
    background-color: rgb(230, 230, 230);
    border: unset;
    border-radius: 7px;
}
.post{
    background-color:rgb(86, 86, 243);
}
.add-sec{
   width: 100%;
   position: absolute;
   flex-direction: column;
   row-gap: 10px;
}
.close{
    position: absolute;
    top: -40px;
    height: 30px;
    width: 30px;
    right: 25%;
    background-color: #333;
}
.fas.fa-times{
    font-size: 1.2rem;
}
.fade{opacity: 0.2;}

.size{
    width: 400px;
}
.main{
    border: 1px solid blue;
    width: 100%;
    position: absolute;
    top: 60px;
    /* height: calc(100vh - 60px); */
    padding: 20px;
    height: auto;
}
.card{
    width: 300px;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 7px;
    background-color: #fff;
}
.file-container{
    height: 150px;
    border: 1px solid black;
    border-radius: 7px;
}
.about{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.about h4{
    font-size: 20px;
}
.utility{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.send-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.send-container p,.download-container p{
    font-size: 12px;
}
.send{
    background-color: rgb(230, 230, 230);
    border-radius: 7px;
    height: 50px;
    padding: 10px;
}
.send input{
    width: 90%;
    height: 100%;
    border:unset;
    border-radius: 7px;
    padding-left: 4px;
    outline: none;
    background-color: inherit;
}
.send i{
    font-size: 1.2rem;
    color: rgb(86, 86, 243);
    cursor: pointer;
}
.download-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.download{
    width: 100%;
    background-color: rgb(48, 126, 48);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    justify-content: center;
    height: 50px;
}